extends base_admin
- load static utils

block extra_css
    link(rel="stylesheet", href="{% static 'pages/plugins/select2/css/select2.min.css' %}")
    link(rel="stylesheet", href="{% static 'pages/plugins/bootstrap-datepicker/css/datepicker3.css' %}")

block content
    h1(style='color:#004385') Formulario de creación de pozos
    .row
        .col-lg-10.m-b-10.d-flex
            .card.card-default
                .card-body.p-l-25
                    form(action="", method="POST")
                        - csrf_token
                        p Información básica
                        .form-group
                            .row
                                .col-sm-12.col-lg-6
                                    .form-group.form-group-default.required(style='height: 70px;')
                                        label(for='name') Nombre del pozo
                                        input.form-control(type="text", name="name")
                                .col-sm-12.col-lg-6
                                    .form-group.form-group-default.required(style='height: 70px;')
                                        label(for='token_type') Tipo de token
                                        select.full-width.select-init(name="token_type")
                                            each token in available_tokens
                                                option(value='{{token.pk}}'){{token.name}}({{token.value | currency}})
                        //- p Rango de fechas
                        //- .form-group
                        //-     .row
                        //-         #datepicker-range.input-daterange.input-group
                        //-             .col-sm-12.col-lg-6
                        //-                 .form-group.form-group-default
                        //-                     label(for='start') Fecha de inicio
                        //-                     input.input-sm.form-control(type='text', name='start')
                        //-             .col-sm-12.col-lg-6
                        //-                 .form-group.form-group-default
                        //-                     label(for='end') Fecha de cierre
                        //-                     input.input-sm.form-control(type='text', name='end')            
                        .row.m-t-20
                            .col-12
                                input.float-right.btn.btn-primary(type="submit", value="Enviar")
                   
block extra_js
    script(src='{% static "js/Contract.js" %}')
    script(src="{% static 'pages/plugins/select2/js/select2.min.js' %}")
    script(src="{% static 'pages/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}")

    script.
        (function(){
            var App = {
                init: function(){
                    App.initEvents();
                    App.bindEvents();
                },
                initEvents: function(){
                    App.Events.initSelects();
                    App.Events.initDatePickers();
                },
                bindEvents: function(){
                },
                eventListeners: {
                },
                Events:{
                    initSelects: function(){
                        $('.select-init').select2();
                    },
                    initDatePickers: function(){
                        $('#datepicker-range').datepicker();
                    }
                },
                Methods: {
                },
            }
            App.init();
        })()