extends base_admin
- load static utils

block content
    h1(style='color:#004385') Tokens
    .row
        .col-lg-12.m-b-10.d-flex
            .card.no-border.card-condensed.no-margin.align-self-stretch.d-flex.flex-column(style='box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);')
                .padding-25
                    p.no-margin Listado de tokens disponibles en la plataforma:
                    table.table.table-hover.dataTable.no-footer
                        thead
                            tr(role='row')
                                th Nombre del Token
                                th Cantidad de tokens en pozo
                                th Valor actual del token
                                th Valor de compra del token
                                th ¿ Tiene pozo ?
                        tbody
                            each token in tokens
                                tr
                                    td #{token.name}
                                    td #{token.balanceOf | decimals}
                                    td #{token.value | currency}
                                    td 0
                                    if token.hasPool
                                        td Sí
                                    else
                                        td No

block extra_js
    script.
        (function(){
            var App = {
                Controls:{
                    Contract: null,
                    Table: $('table'),
                },
                Methods: {
                    init: function(){
                        App.Methods.initEvents();
                        App.Methods.bindEvents();
                    },
                    initEvents: function(){
                        App.Methods.initTable();
                    },
                    initTable: function(){
                        const SETTINGS = {
                            "order": [],
                            "sDom": "<t><'row'<p i>>",
                            "destroy": true,
                            "scrollCollapse": true,
                            "responsive": true,
                            "createdRow": function(row, data, dataIndex){
                                $(row).attr('data-id', dataIndex + 1);
                            },
                            "oLanguage": {
                                "sLengthMenu": "Mostrar _MENU_ entradas",
                                "sInfo": "Mostrando <b>_START_ hasta _END_</b> de _TOTAL_ entradas",
                                "sInfoEmpty": "No hay entradas que mostrar",
                                "sInfoFiltered": " - filtrando de _MAX_ entradas",
                                "sEmptyTable": "No hay datos disponible en la tabla",
                                "sSearch": "Filtrar entradas"
                            },
                            "columnDefs": [
                            ],
                            "iDisplayLength": 10
                        };
                        App.Controls.Table.DataTable(SETTINGS);
                    },
                    bindEvents: function(){
                    },
                },
            };
            App.Methods.init();
        })();