.DS_Store
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


## sql lite database
db.sqlite3

## static files

vendors
bower_components
src/static/json/
src/static/css/

## python virtualenv
.env
venv
.venv
env

## postgres - data
postgres-data

## node dependencies
node_modules

## solidity json contract files
build
