.DS_Store
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


## sql lite database
db.sqlite

## bower denpendencies
vendors
bower_

## python virtualenv ##
.env
venv
.venv
env

## postgres - data ##
postgres-data