.navbar {
    margin-top: 0 !important;
    padding: 20px 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.20);
    margin-bottom: 0px !important;
}

h1 {
    font-weight: bold;
}

.card{
    border-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.info-data{
    color: black;
    font-weight: 300;
}

.main-cont{
    height: 40em;
    margin: 50px 50px 0px 50px;
    padding: 3% 5%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

.flex{
    display:flex;
}

/* subtitles */

.subtitles span{
    font-size: 16px;
    color: black;
}