extends base
block content
  h1.title.text-center Bienvenido a la pagina de cambio de monedas
  h4.subtitle.text-center.font-weight-light.font-italic  Este es tu portal para el cambio de tokens de ETH a $
  .row.mt-4
    .col-5.offset-1.col-xl-4.offset-xl-2
      .card
        .card-header(style='background-color:white')
          .stat-widget-one
            .stat-icon.dib
              i.ti-money.text-success.border-success(style='font-size:20px;')
            .stat-content.dib
              .stat-text(style='font-size:25px;') Precio del Token
        h1.card-body.py-5.text-center(style='font-size:50px;') $49.99
    .col-5.col-xl-4
      .card
        .card-header(style='background-color:white')
          .stat-widget-one
            .stat-icon.dib
              i.ti-link.text-success.border-success(style='font-size:20px;')
            .stat-content.dib
              .stat-text(style='font-size:25px;') Cantidad de Tokens
        h1.card-body.py-5.text-center(style='font-size:50px;') 22000
  .row
    .col-md-3.offset-md-3
      h4.header.font-weight-light
        u Compra ahora
      h5.subheader.font-italic(style='font-size:15px;') Este es el el momento de comprar un token
      button.btn.btn-outline-success Comprar