-load static
!!! 5
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Pagina Principal
    meta(name='description', content='Sufee Admin - HTML5 Admin Template')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-icon.png')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='{% static "vendors/bootstrap/dist/css/bootstrap.min.css" %}')
    link(rel='stylesheet', href='{% static "vendors/font-awesome/css/all.min.css" %}')
    link(rel='stylesheet', href='{% static "vendors/themify-icons/css/themify-icons.css" %}')
    link(rel='stylesheet', href='{% static "vendors/flag-icon-css/css/flag-icon.min.css" %}')
    link(rel='stylesheet', href='{% static "vendors/selectfx/css/cs-skin-elastic.css" %}')
    link(rel='stylesheet', href='{% static "vendors/jqvmap/dist/jqvmap.min.css" %}')
    link(rel='stylesheet', href='{% static "assets/css/style.css" %}')
    link(rel='stylesheet', href='{% static "assets/css/style2.css" %}')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800', rel='stylesheet', type='text/css')
  body
    // Left Panel
    aside#left-panel.left-panel
      nav.navbar.navbar-expand-sm.navbar-default
        .navbar-header
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-menu', aria-controls='main-menu', aria-expanded='false', aria-label='Toggle navigation')
            i.fa.fa-bars
          a.navbar-brand(href='./')
            img(src='{% static "/images/logo.png" %}', alt='Logo')
          a.navbar-brand.hidden(href='./')
            img(src='{% static "/images/logo2.png" %}', alt='Logo')
        #main-menu.main-menu.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='')
                i.menu-icon.fa.fa-dashboard
                | Dashboard
            h3.menu-title UI elements
            // /.menu-title
            li.menu-item-has-children.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                i.menu-icon.fas.fa-credit-card
                | Comprar Token
              ul.sub-menu.children.dropdown-menu
                li
                  i.fas.fa-puzzle-piece
                  a(href='ui-buttons.html') Buttons
                li
                  i.fas.fa-id-badge
                  a(href='ui-badges.html') Badges
                li
                  i.fas.fa-bars
                  a(href='ui-tabs.html') Tabs
                li
                  i.fas.fa-share-square-o
                  a(href='ui-social-buttons.html') Social Buttons
                li
                  i.fas.fa-id-card-o
                  a(href='ui-cards.html') Cards
                li
                  i.fas.fa-exclamation-triangle
                  a(href='ui-alerts.html') Alerts
                li
                  i.fas.fa-spinner
                  a(href='ui-progressbar.html') Progress Bars
                li
                  i.fas.fa-fire
                  a(href='ui-modals.html') Modals
                li
                  i.fas.fa-book
                  a(href='ui-switches.html') Switches
                li
                  i.fas.fa-th
                  a(href='ui-grids.html') Grids
                li
                  i.fas.fa-file-word-o
                  a(href='ui-typgraphy.html') Typography
            li.menu-item-has-children.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                i.menu-icon.fa.fa-cash-register
                | Vender Token
              ul.sub-menu.children.dropdown-menu
                li
                  i.fa.fa-puzzle-piece
                  a(href='ui-buttons.html') Buttons
                li
                  i.fa.fa-id-badge
                  a(href='ui-badges.html') Badges
                li
                  i.fa.fa-bars
                  a(href='ui-tabs.html') Tabs
                li
                  i.fa.fa-share-square-o
                  a(href='ui-social-buttons.html') Social Buttons
                li
                  i.fa.fa-id-card-o
                  a(href='ui-cards.html') Cards
                li
                  i.fa.fa-exclamation-triangle
                  a(href='ui-alerts.html') Alerts
                li
                  i.fa.fa-spinner
                  a(href='ui-progressbar.html') Progress Bars
                li
                  i.fa.fa-fire
                  a(href='ui-modals.html') Modals
                li
                  i.fa.fa-book
                  a(href='ui-switches.html') Switches
                li
                  i.fa.fa-th
                  a(href='ui-grids.html') Grids
                li
                  i.fa.fa-file-word-o
                  a(href='ui-typgraphy.html') Typography
        // /.navbar-collapse
        // /#left-panel
        // Left Panel
        // Right Panel
    #right-panel.right-panel
          // Header
          header#header.header
            if is_logged == True
              .header-menu
                .offset-sm-7.col-sm-5
                  .user-area.dropdown.float-right
                    a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      img.user-avatar.rounded-circle(src='{% static "/images/admin.jpg" %}', alt='User Avatar')
                    .user-menu.dropdown-menu
                      a.nav-link(href='#')
                        i.fa.fa-user
                        |  My Profile
                      a.nav-link(href='#')
                        i.fa.fa-user
                        |  Notifications 
                        span.count 13
                      a.nav-link(href='#')
                        i.fa.fa-cog
                        |  Settings
                      a.nav-link(href='#')
                        i.fa.fa-power-off
                        |  Logout
            else
              a(href='login').btn.btn-secondary.float-right Iniciar Sesion
          // /header
          // Header
          .content.mt-5
            .card
              .col-12.my-2.py-5
                block content
          // .content
          // /#right-panel
          // Right Panel
    script(src='{% static "vendors/jquery/dist/jquery.min.js" %}')
    script(src='{% static "vendors/popper.js/dist/umd/popper.min.js" %}')
    script(src='{% static "vendors/bootstrap/dist/js/bootstrap.min.js" %}')
    script(src='{% static "assets/js/main.js" %}')


    script(src='{% static "vendors/chart.js/dist/Chart.bundle.min.js" %}')
    script(src='{% static "assets/js/dashboard.js" %}')
    script(src='{% static "assets/js/widgets.js" %}')
    script(src='{% static "vendors/jqvmap/dist/jquery.vmap.min.js" %}')
    script(src='{% static "vendors/jqvmap/examples/js/jquery.vmap.sampledata.js" %}')
    script(src='{% static "vendors/jqvmap/dist/maps/jquery.vmap.world.js" %}')

    script.
            (function($) {
            "use strict";
            jQuery('#vmap').vectorMap({
            map: 'world_en',
            backgroundColor: null,
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#1de9b6',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: ['#1de9b6', '#03a9f5'],
            normalizeFunction: 'polynomial'
            });
            })(jQuery);