extends base_landing

- load static

block content
    .row.h-100
        .col-2
            .m-l-10
                img(src="{% static 'imgs/border-2.png' %}", alt="", srcset="")
        .col-10
            block subcontent