extends base_landing
- load static

block extra_css
  link(href="{% static 'landing/css/landing-page.css' %}", rel='stylesheet', type='text/css')
  style.
    #header-pattern{
      background-color: #DFDBE5;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='Artboard-5' fill='%239C92AC' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M6 18h12V6H6v12zM4 4h16v16H4V4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }

block content
  .herotron
    .row
      .col-5
        h1 Conseguir tokens al mejor precio ✨
        p.m-t-15(style='font-size: 15px;')
          | TRYS es una platafoma creada para el intercambio de tokens que siguien el standard ERC-20 de Ethereum.
          | A través de un contrato inteligente permite el cambio de estos activos digitales con la mayor de las facilidades
        a.btn.btn-lg.btn-rounded.btn-danger.m-b-20.float-right(href="{% url 'tokens:pools-list' %}") Conoce sobre nosotros      
      .col-7
        .float-right
          img.contra-header(src="{% static 'imgs/smiling-girl.jpg' %}", alt="")
  section.about-section.bg-green.m-t-50
    .section-content
      .row
        .col-6
          .row.d-flex.justify-content-center
            .card(style='padding: 1%; width: 75%; height: 300px;')
              .card-body
                h2 
                  strong Invierte
                p.m-t-20.
                  Trys te da la posibilidad de poner tus tokens en el mercado, puedes crear una oferta de tus tokens para buscar compradores
                  que deseen adquirir tus tokens al precio establecido.
        .col-6
          .row.d-flex.justify-content-center
            .card(style='padding: 1%; width: 75%; height: 300px;')
              .card-body
                h2 
                  strong Compra
                p.m-t-20.
                  ¿Deseas adquirir tokens? Trys te permite ver ofertas de acuerdo al tipo de token que quieras
                  y adquirir la que más te guste.
      .row.d-flex.justify-content-center
        a.btn.btn-lg.btn-rounded.btn-danger.m-b-20(href="{% url 'tokens:pools-list' %}") Ver pozos
