extends base_landing
- load static

block extra_css
  link(href="{% static 'landing/css/landing-page.css' %}", rel='stylesheet', type='text/css')
  link(heref)

block content
  .herotron
    .row
      .col-5
        h1 Conseguir tokens al mejor precio ✨
        p.m-t-15(style='font-size: 15px;')
          | TRYS es una platafoma creada para el intercambio de tokens que siguien el standard ERC-20 de Ethereum.
          | A través de un contrato inteligente permite el cambio de estos activos digitales con la mayor de las facilidades
        a.btn.btn-lg.btn-rounded.btn-danger.m-b-20.float-right(href="{% url 'tokens:pools-list' %}") Conoce sobre nosotros      
      .col-7
        .float-right
          img.contra-header(src="{% static 'landing/img/pattern.png' %}", alt="")
  section.about-section.bg-green.m-t-50
    .section-content
      .row
        .col-6
          .row.d-flex.justify-content-center
            .card(style='padding: 1%; width: 75%; height: 300px;')
              .card-body
                h2 
                  strong Invierte
                p.m-t-20.
                  Trys te da la posibilidad de poner tus tokens en el mercado, puedes crear una oferta de tus tokens para buscar compradores
                  que deseen adquirir tus tokens al precio establecido.
        .col-6
          .row.d-flex.justify-content-center
            .card(style='padding: 1%; width: 75%; height: 300px;')
              .card-body
                h2 
                  strong Compra
                p.m-t-20.
                  ¿Deseas adquirir tokens? Trys te permite ver ofertas de acuerdo al tipo de token que quieras
                  y adquirir la que más te guste.
      .row.d-flex.justify-content-center
        a.btn.btn-lg.btn-rounded.btn-danger.m-b-20(href="{% url 'tokens:pools-list' %}") Ver listas
  //- section.testimony-section.m-t-50
  //-   .section-header
  //-     .row
  //-       .col-12
  //-         .text-center
  //-           h1 Testimonios
  //-   .section-content
  //-     .row
  //-       .col-6
  //-         .testimony
  //-           img(src="{% static '/landing/img/happy-woman.jpg' %}", alt="")
  //-       .col-6
  //-         .testimony
  //-           .row
  //-             p(style="font-size: 30px; font-style:italic").
  //-               "Logré invertir varios tokens que me sobraban dentro de TRYS.
  //-               Gracias a su facil interfaz pude hacer una buena oferta."
  //-           .row
  //-             .col-12
  //-               .pull-right
  //-                 span(style="font-size: 20px;")
  //-                   | -Ana Lopez
                
