extends base_dark
block content
    .login-content
            .login-logo
                a(href='index.html')
                img.align-content(src='images/logo.png', alt='')
            .login-form
                form
                .form-group
                    label Email
                    input.form-control(type='email', placeholder='Email')
                .form-group
                    label Contraseña
                    input.form-control(type='password', placeholder='Contraseña')
                .checkbox
                    label
                button.btn.btn-success.btn-flat.m-b-30.m-t-30(type='submit') Sign in
                .register-link.m-t-15.text-center
                    p
                    | ¿No tiene Cuenta ? 
                    a(href='/signup')  Registrarme