extends base_dark
block title
    title Compra de Token
block content
    .login-content
            .login-logo
                a(href='index.html')
                img.align-content(src='images/logo.png', alt='')
                h1(style='color:white;') Compra de Tokens
            .login-form
                    - csrf_token
                    label Cantidad de Tokens a Comprar
                    input#qty.form-control(type="number", name="")
                    button.buy-btn.btn.btn-primary(type="button") Comprar

block extra_js
    script.
        (async function($){
            let poolObj = new PoolContract($);
            await poolObj.setContract();
            $(".buy-btn").click(async () => {
                try{
                    let url = $(location). attr("href");
                    let index = substringAfter(url, '/', url.indexOf('buy'));
                    let qty = $('#qty').val();
                    await poolObj.addUserToPool(qty, 'StandardToken', index);
                    console.log(await poolObj.getUsersAddingLength());
                    console.log(await poolObj.getUsersAddingByIndex(1));
                    alert(`Ha introducido ${qty} tokens con exito`);
                }
                catch(e){
                    alert(e);
                    throw new Error(e);
                }
            }); 
        })(jQuery);