extends base
-load static
block content
  h1.title.text-center Estos son los pozos disponibles
  h4.subtitle.text-center.font-weight-light.font-italic  Este es tu portal para el cambio de tokens de ETH a $
  .row.mt-4
    .col-5.offset-1.col-xl-4.offset-xl-2
      for pool in pools
        .card
          .card-header
              .stat-content.dib
                .stat-text(style='font-size:25px;'){{pool.name}}
          h4.card-body.pt-5.text-justify Tipo del Token: {{pool.token_name}}
