extends base_dark
block title
    title Solicitud de Tokens
block content
    .login-content
            .login-logo
                a(href='index.html')
                img.align-content(src='images/logo.png', alt='')
                h1(style='color:white;') Solicitud de Tokens
            .login-form
                    //- - csrf_token
                    label Cantidad de Tokens a Solicitar
                    input#qty.form-control(type="number", name="")
                    button.buy-btn.btn.btn-primary(type="button") Extraer

block extra_js
    script.
        (async function($){
            let poolObj = new PoolContract($);
            await poolObj.setContract();
            $(".buy-btn").click(async () => {
                try{
                    let url = $(location). attr("href");
                    let index = substringAfter(url, '/', url.indexOf('get'));
                    let qty = $('#qty').val();
                    await poolObj.getTokens(qty, index);
                    let data = {pool_index: index, qty: qty, csrfmiddlewaretoken: '{{ csrf_token }}'};
                    await $.ajax({ url:`http://localhost:8000/tokens/pay`, method: "POST", data:data});
                    alert(`Ha recibido ${qty} tokens con exito`);
                }
                catch(e){
                    alert('Hubo un error');
                    console.log(e);
                    throw new Error(e);
                }
            }); 
        })(jQuery);