/* Labels
------------------------------------
*/

.label {
    padding: 3px 9px;
    font-size: 11px;
    line-height: 1;
    text-shadow: none;
    background-color: $color-master-light;
    font-weight: 600;
    color: $color-master;
    border-radius: .25em;
}
.label-success {
    background-color: $color-success;
    color: #fff;
}
.label-warning{
    background-color: $color-warning;
    color: #fff;
}
.label-important, .label-danger {
    background-color: $color-danger;
    color: #fff;
}
.label-info{
    background-color: $color-complete;
    color: #fff;
}
.label-inverse {
    background-color: $color-complete-dark;
    color: #fff;
}
.label-white {
    background-color: #fff;
    color: $color-master;
}